.background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 125px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: middle;
  width: 100%;
  padding-bottom: 50px;
}

.label {
  position: absolute;
  margin-right: 60%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #6157BB;
  font-size: 30px;
}

.name {
  height: 100px;
  width: 40%;
  margin: 0 auto;
  border-radius: 25px;
  background: radial-gradient(circle, #6157BB, 96%, rgba(255,255,255,1) 98%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  text-shadow: 1px 1px black;
}

.aboutMe {
  height: 150px;
  width: 40%;
  margin: 0 auto;
  border-radius: 25px;
  font-size: min(15px, 3vw);
  background: radial-gradient(circle, #928BD0, 96%, rgba(255,255,255,1) 98%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
  color: white;
  text-shadow: 1px 1px #6157BB;
  white-space: break-spaces;
  padding: 10px;
}

.major {
  height: 60px;
  width: 40%;
  margin: 0 auto;
  border-radius: 25px;
  background: radial-gradient(circle, #928BD0, 96%, rgba(255,255,255,1) 98%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  text-shadow: 1px 1px #6157BB;
  padding: 10px;
}

.year {
  height: 60px;
  width: 30%;
  margin: 0 auto;
  border-radius: 25px;
  background: radial-gradient(circle, #928BD0, 96%, rgba(255,255,255,1) 98%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  text-shadow: 1px 1px #6157BB;
  padding: 10px;
}

.classes {
  height: 60px;
  width: 30%;
  margin: 0 auto;
  border-radius: 25px;
  background: radial-gradient(circle, #928BD0, 96%, rgba(255,255,255,1) 98%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  text-shadow: 1px 1px #6157BB;
  padding: 10px;
}

.request:hover { 
  color: white !important;
  background: #0073cf; 
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: #30C4EB;
  border-radius: 25px;
}

.Create-new-goal {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: auto;
}
